.cases-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
    margin: 180px auto 0 auto;
    padding: 20px;
    align-items: stretch;
}

.cases-container-column {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 72px;
}

.cases-container-column.mobile{
    display: grid;
    grid-template-rows: none;
    gap: 0;
}

.cases-container-mobile{
    margin: 120px auto 0 auto;
}

.cases-container-row {
    border: none;
}

.cases-container-column:first-child {
    font-size: 1.2em;
    font-weight: bold;
    align-self: center;
}

.cases-container-column:nth-child(2) .cases-container-row {
    font-weight: 500;
    font-size: 36px;
    line-height: 47px;
}

.cases-container-column:last-child .cases-container-row {
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
}

.cases-container-row-mobile {
    margin: 2rem 0;
    font-size: 28px !important;
    padding: 10px 0;
}

.cases-container-row-mobile span {
    font-size: 16px !important;
    display: flex;
}


@media (max-width: 1240px) {
    .cases-container-column:nth-child(2) .cases-container-row {
        font-weight: 500;
        font-size: 26px;
        line-height: 35px;
    }
}