.menu {
    display: flex;
    flex-direction: row;
    width: 85%;
    margin: 1rem auto 0 auto;
    background: white;
    height: 3rem;
    padding: 10px 70px;
    border-radius: 1rem;
}

.menu-buttons {
    width: auto;
    margin: 0 auto;
    display: flex;
    gap: 3rem;
    justify-content: center;
}

.menu-mobile-buttons button {
    font-size: 18px;
    text-align: left;
    margin-left: 2rem;
}

.menu-buttons button {
    background: none;
    border: none;
}

.menu-buttons button {
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.2s ease;
}

.menu-buttons button:active,
.menu-buttons button:focus {
    color: #1611E7;
    outline: none;
}

.sent-request-menu-button {
    background: #1611E7;
    cursor: pointer;
    color: white;
    border: none;
    width: 10rem;
    border-radius: 2rem;
    padding: 0 15px;
}

.sent-request-menu-button:hover {
    background: #1712d6;
}

.menu-mobile {
    padding: 10px;
    background: white;
    border-radius: 1rem;
    overflow-y: hidden;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 2rem auto;
    font-size: 18px;
}

.menu-mobile-buttons {
    flex-direction: column;
    margin: 2rem 0;
}

.menu-mobile-header {
    justify-content: space-between;
    display: flex;
}

.mobile-button {
    font-size: 18px;
    height: 3rem;
    width: 100%;
    margin: 0;
}

.menu-contacts-mobile {
    height: 50vh;
    margin: 5rem 0;
    width: 80%;
}

.menu-contacts-mobile div {
    font-size: 16px;
}