.specialization-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 12px;
    margin: 180px auto 0 auto;
    padding: 20px;
}

.specialization-container-mobile {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin: 120px auto 0 auto;
}

.specialization-container-box {
    border-radius: 1.1rem;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    /*max-height: 300px;*/
    /*height: 100%;*/
    min-height: 200px;
    min-width: 200px;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.specialization-container-box-header {
    height: 2rem;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*.specialization-container-box-header-num{*/
/*    font-size: 21px;*/
/*    line-height: 21px;*/
/*    margin-bottom: 3px;*/
/*}*/

.specialization-container-box-header img {
    width: 12px;
    height: 12px;
}

.specialization-container-box-label {
    display: inline-block;
    color: #1611E7;
    margin: 50px 0 10px 0;
    font-size: 22px;
    font-weight: 600;
    line-height: 29px;
}

.specialization-container-box-description {
    font-weight: 400;
    line-height: 23px;
    word-wrap: break-word
}

.empty-box {
    background: none;
    border: none;
    box-shadow: none;
}


@media (max-width: 975px) {
    .specialization-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 12px;
        margin: 180px auto 0 auto;
        padding: 20px;
    }

    .empty-box {
        display: none;
    }

}