.us-container {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
}

.us-container-header {
    font-size: 18px;
    font-weight: 600;
}

.us-container-quote {
    width: 100%;
    display: flex;
    font-size: 36px;
    flex-direction: column;
}

.us-container-about {
    margin-top: 1.5rem;
    display: block;
    margin-left: auto;
    font-weight: 400;
    width: 65%;
    line-height: normal;
}

.us-container-body {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}