.about-article {
    display: flex;
    justify-content: center;
    font-size: 80px;
    margin: 110px auto 0 auto;
}

.about-container {
    width: fit-content;
    max-width: 100%;
}

.about-line {
    width: 100%;
    white-space: nowrap;
}

.about-left {
    text-align: left;
}

.about-right {
    text-align: right;
}

#about {
    scroll-margin-top: 5rem;
}
#rect{
    color: white;
    position: relative;
}

#rect:before{
    content: ' ';
    position: absolute;
    z-index: -1;
    width: 102%;
    height: 100%;
    top: 5%;
    left: 1%;
    border-radius: 8px;
    background: black;
}


@media (max-width: 1240px) {
    .about-article {
        font-size: 60px;
    }

}

@media (max-width: 975px) {
    .about-article {
        font-size: 50px;
    }

}

@media (max-width: 768px) {
    .mobile-about {
        width: 95%;
        margin-top: 7rem;
        font-size: 42px;
    }
}