.footer-container {
    background: #040404;
    width: 100%;
}

.footer {
    justify-content: space-between;
    margin: 10rem auto 5rem auto;
    display: flex;
    padding: 5rem 15%;
    flex-direction: row;
    position: relative;
}

.footer::before {
    content: "";
    position: absolute;
    top: 0;
    width: 70%;
    height: 0.1rem;
    background: white;
}

.footer-buttons {
    display: flex;
    gap: 1rem;
    margin-right: 17rem;
    margin-top: 1rem;
    flex-direction: column;
}

.footer-buttons button {
    text-align: left    ;
    background: none;
    cursor: pointer;
    color: white;
    border: none;
}