.footer-container {
    background: #040404;
    width: 100%;
}

.footer {
    justify-content: space-between;
    width: 80%;
    border-top: 0.1rem solid white;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.footer-buttons {
    display: flex;
    gap: 1rem;
    margin-right: 17rem;
    margin-top: 1rem;
    flex-direction: column;
}

.footer-buttons button {
    background: none;
    cursor: pointer;
    color: white;
    border: none;
}