body {
    font-family: Raleway, sans-serif;
    vertical-align: middle;
    margin: 0;
    font-weight: 700;
    line-height: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url("./assets/background.svg") !important;
    background-repeat: no-repeat;
    background-position: left 27% !important;
    background: #FAFAFA;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
