.contacts-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 7rem auto 0 auto;
    color: white;
}

.contacts-container-mobile {
    gap: 72px;
    flex-direction: column;
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 5rem auto 0 auto;
    font-size: 18px;
}